# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Local configuration
.env
.secrets

# dependencies
/node_modules
/.pnp
.pnp.js

# generated
src/api/generated/graphql.tsx
graphql.schema.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development

npm-debug.log*
yarn-debug.log*
yarn-error.log*
